  /* BASIC STYLE */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
 body {
    font-family: Roboto, sans-serif;
    width: 900px;
    margin: 0px auto;
    align-content: center;
    display: flex;
    flex-direction: column;
 }

 /* HEADER */

 .header{
    padding: 20 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
 }

 h1{
    color:#F9FAF8;
    font-size: 24px;;
    margin: 0;
    padding: 0;
 }

 ul, .menu{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 15px;
 }

 a{
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 100;

 }

 /* HERO */

 .hero{
    padding: 50 100;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
 }

 h2 {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0 0 20 0;
 }

 .hero-left{
    flex: 1;
    display: flex;
 }

 .subtext {
    color:#F9FAF8;
    font-size: 18px;
 }

 .sign-up-button{
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 5px 20px;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
 }
 .image-main{
    width: 350px;
    height: auto;

 }

  /* INFORMATION */

  .information{
    box-sizing: border-box;
    margin: 60 0 60 0;
    padding: 10 120 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  h3{
    margin: 0px;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
  }

  .cards{
    display: flex;
    gap: 20px;
  }

  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }

  .image-card{
    width: 120px;
    height: auto;
    border: 2px solid;
    border-color: #3882F6;
    border-radius: 10%;
  }

  .text{
    text-align:center;
  }

    /* QUOTE */

  .quote{
    padding: 40 120;
    background-color: #E5E7EB;
  }

  .quote-text{
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color:#1F2937
  }

    /* ACTION */

  .action{
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

    h4 {
    padding: 0px;
    margin: 0px;
  }

  .sign-up-button-white{
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 5px 20px;
    margin: 20px 0px;
    border: 2px solid white;
    border-radius: 5px;
    border-color: #F9FAF8;
 }

    /* FOOTER */
  .footer{
    background-color: #1F2937;
    color:#F9FAF8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }