  /* BASIC STYLE */
 
 body {
    font-family:monospace;
    width: 900px;
    margin: 0px auto;
    align-content: center;
    display: flex;
    flex-direction: column;
 }

 /* HEADER */

 .header{
    padding: 5 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
 }

 h1{
    color:#F9FAF8;
 }

 h1 .logo {
    color:#F9FAF8;
    font-size: 24px;;
 }

 ul, .menu{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 15px;
 }

 a{
    text-decoration: none;
    color: #F9FAF8;
 }

 /* HERO */

 .hero{
    padding: 50 100;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
 }

 h2 {
    color:#F9FAF8;
 }

 .subtext {
    color:#F9FAF8;
    padding: 0 20 0 0;
 }

 .sign-up-button{
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 5px 20px;
    margin: 20px 0px;
 }
 .image-main{
    width: 350px;
    height: auto;

 }

  /* INFORMATION */

  .information{
    padding: 20 120 40;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3{
    padding: 10px;
  }

  .cards{
    display: flex;
    gap: 20px;
  }

  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }

  .image-card{
    width: 120px;
    height: auto;
    border: 2px solid;
    border-color: #3882F6;
    border-radius: 10%;
  }

  .text{
    text-align:center;
  }

    /* QUOTE */

  .quote{
    padding: 40 120;
    background-color: #E5E7EB;
    font-size: 36px;
    color:#1F2937
  }

    /* ACTION */

  .action{
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    /* FOOTER */
  .footer{
    background-color: #1F2937;
    color:#F9FAF8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }